@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Global */

:root {
    --red: #E50914;
    --black: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* base */

body {
    background: var(--black);
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-size: 24px;
}
/* Menu */

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
}

header .container .logo {
    color: var(--red);
    font-size: 64px;
    padding: 0 16px;
    letter-spacing: 2px;
}

header nav a {
    color: #aaa;
    margin-right: 10px;
    transition: 200ms;
    font-size: 24px;
    text-decoration: none;
}

header nav a:hover {
    color: #fff;
}

/* Main movie */

.main-movie {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('/image//vikings.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-movie .wrapper {
    margin-left: 24px;
    width: 60%;
}

.main-movie .description {
    margin-top: 8px;
    margin-bottom: 48px;
}

.main-movie .title {
    margin-top: 5%;
    font-size: 80px;
}

/* Buttons */

.button {
    background-color: rgba(0,0,0, 0.5);
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    margin-right: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 400ms ease-in-out;
}

.button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 8px;
}