@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:400|Noto+Sans+TC:400');
:root {
    --red: #E50914;
    --black: #141414;
}

/* Type-scale settings */

html {
    font-size: 100%;
}

body {
    background-color: var(--black);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 1.35;
    color: #FFF;
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small, .text_small {
    font-size: 0.75rem;
}

/* Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Menu */

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

header .container .logo {
    height: 6rem;
    padding: 0 1rem;
    padding: 0.5rem 0;
}

header nav a {
    color: #aaa;
    padding: 0 1rem;
    transition: 200ms;
    font-size: 1.5rem;
    text-decoration: none;
}

header nav a:hover {
    color: #fff;
}

/* Main movie */

.main-movie {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('/image/vikings.jpg');
    background-size: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0.2rem;
}

.main-movie .wrapper {
    margin: 0 0 2rem 1.5rem;
    width: 60%;
}

.main-movie .description-box {
    max-width: 40rem;
}

.main-movie .title {
    font-size: 6rem;
}

.main-movie .description {
    font-family: "Helvetica Neue";
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

/* Buttons */

.button {
    background-color: var(--red);
    border: none;
    color: white;
    padding: 1.5rem 2.5rem;
    border-radius: 8px;
    margin-right: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 400ms ease-in-out;
    font-size: 1rem;
}

.button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 0.5rem;
}

/* carousel */

.movies-box {
    height: 100%;
    width: 100%;
    display: block;
}